$debug: false;

@import "bourbon/bourbon";

$grid-columns: 16; 
$max-width: 100%;
$visual-grid: $debug;
$visual-grid-color: red;
@import "neat/neat";

$special-ratio: 1.5;

@function _($step) {
  @return modular-scale(1rem, $step, $special-ratio);
}

body {
  @include outer-container;
  @include pad;
}

@import "_scale-html-font-size";

html {
  font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;

  @include scale-html-font-size;
}